.table {
  border-collapse: collapse;
  max-width: 400px;
  margin: 20px auto;
  & thead {
    background-color: rgb(65, 59, 59);
    color: white;
  }

  & th,
  & td {
    padding: 5px 30px;
    border: 1px solid black;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    width: calc(100% / 3);
  }

  & tbody tr:nth-child(even) {
    background-color: lightgray;
  }

  & tbody td:nth-child(1) {
    text-align: left;
  }
}
